* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f1ef;
    height: 100%;
    min-height: 100%;
    width: 100%;
    vertical-align: middle;

}

/* Header section*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0rem;
    padding-left: 10%;
    padding-right: 10%;
    color: #f2f1ef;
    background-color: rgba(0, 0, 0, 0.938);
    z-index: 1;
    position: fixed;
    width: 100%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.151);
}
header ul{
    display: flex;
    gap: 3rem;
    list-style-type: none;
}
header ul li{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    transition: 0.2s;
    cursor: pointer;
}
header ul li:hover{
    color: #d8bd62;
}
.icon h1{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}
/* Home section*/

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(./img/pizza.jpg) center no-repeat;
}

.home h1{
    font-family: 'DM Serif Display', serif;
    color: rgba(255, 255, 255, 0.856);
    font-size: 3rem;
}
.home hr{
    background-color:  rgba(224, 195, 30, 0.87);
    border-radius: 8px;
    border: none;
    width: 400px;
    height: 3px;
    margin-bottom: 10px;
}
.home p{
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    width: 600px;
}

/* Menu section*/

.menu, .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0px;
    height: 100vh;
    width: 100%;
}

.menu h1, .contact h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.8rem;
    font-weight:bolder;
    color: rgba(0, 0, 0, 0.877);
    margin-top: 40px;
    margin-bottom: 5px;
}

.menu hr, .contact hr{
    background-color:  rgba(224, 195, 30, 0.87);
    border-radius: 8px;
    padding: 2px;
    border: none;
    width: 100px;
    height: 4px;
    margin-bottom: 15px;
}

.dishes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 40px;
}
.menuItem{
    padding: 20px;
}
.itemTitle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.itemTitle h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight:bold;
    color: rgba(0, 0, 0, 0.747);
}
.itemDescription p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight:lighter;
    color: rgba(0, 0, 0, 0.568);
}

/* Contact section*/

.contactItems{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25%;
    padding-bottom: 50px;
    width: 100%;
    gap: 30px;
}

.itemContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.iconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    border-radius: 100%;
    background-color: rgba(224, 195, 30, 0.87);
    flex-shrink: 0;
}
.iconContainer img{
    width: 20px;
}
.textContainer h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight:400;
    color: rgba(0, 0, 0, 0.678);
}
.textContainer p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight:300;
    color: rgba(0, 0, 0, 0.678);
    word-wrap: break-word;
}

/* Media queries */

@media (max-width: 767px){
    header{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .home h1{
        font-size: 2.5rem;
    }
    .home hr{
        width: 300px;
        height: 3px;
    }
    .home p{
        width: 380px;
    }
    .menu h1, .contact h1{
        margin-top: 70px;
    }
    .dishes{
        grid-template-columns: 1fr;
    }
    .iconContainer{
        margin-top: 50px;
    }
    .itemContainer{
        padding-right: 50px;
    }
    .contactItems{
        padding-left: 15%;
        padding-bottom: 50px;
    }
}